# Análise dos dados do Auxilio Emergencial - 2020

### Arquivos : Abril/Maio/Junho

##### Origem :  http://www.portaltransparencia.gov.br/pagina-interna/603519-download-de-dados-auxilio-emergencial

In [1]:
import pandas as pd
import numpy as np

%matplotlib inline

In [2]:
# Importando o arquivo 
arquivo = '202004_AuxilioEmergencial.csv'

# Lendo o arquivo csv 
aux = pd.read_csv(arquivo, encoding = "latin", sep = ";", header = 0, nrows = 2000)

aux.head()

,MÊS DISPONIBILIZAÇÃO,UF,CÓDIGO MUNICÍPIO IBGE,NOME MUNICÍPIO,NIS BENEFICIÁRIO,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,NIS RESPONSÁVEL,CPF RESPONSÁVEL,NOME RESPONSÁVEL,ENQUADRAMENTO,PARCELA,OBSERVAÇÃO,VALOR BENEFÍCIO
0,202004,NaN,NaN,NaN,0,***.832.922-**,ALICE CILENE DE OLIVEIRA DIAS,-2,NaN,Não se aplica,EXTRA CADUN,1ª,Não há,"600,00"
1,202004,NaN,NaN,NaN,0,***.208.119-**,APARICIO LINHARES LOUZADA,-2,NaN,Não se aplica,EXTRA CADUN,1ª,Não há,"600,00"
2,202004,NaN,NaN,NaN,0,***.884.918-**,CELIA APARECIDA DE SOUZA,-2,NaN,Não se aplica,EXTRA CADUN,1ª,Não há,"600,00"
3,202004,NaN,NaN,NaN,0,***.899.219-**,CERES MARLIZE WAVRITA,-2,NaN,Não se aplica,EXTRA CADUN,1ª,Não há,"600,00"
4,202004,NaN,NaN,NaN,0,***.904.623-**,CLEODON BORGES DA SILVA,-2,NaN,Não se aplica,EXTRA CADUN,1ª,Não há,"600,00"

In [3]:
# Detalhe da consulta
aux.describe()

,MÊS DISPONIBILIZAÇÃO,CÓDIGO MUNICÍPIO IBGE,NIS BENEFICIÁRIO,NIS RESPONSÁVEL
count,2000.0,1973.0,2.000000e+03,2.000000e+03
mean,202004.0,1200013.0,1.354842e+10,9.871829e+09
std,0.0,0.0,8.429019e+09,9.425149e+09
min,202004.0,1200013.0,0.000000e+00,-2.000000e+00
25%,202004.0,1200013.0,0.000000e+00,-2.000000e+00
50%,202004.0,1200013.0,1.614567e+10,1.600585e+10
75%,202004.0,1200013.0,2.052697e+10,1.665299e+10
max,202004.0,1200013.0,2.389385e+10,2.388388e+10

In [4]:
# Quantidade de linhas e colunas
aux.shape

(2000, 14)

In [5]:
# Retirando as colunas que não serão usadas
# Limitando a quantidade de linhas que serão lidas
aux_resumo = pd.read_csv(arquivo, encoding = "latin", sep = ";", header = 0, nrows = 8000000, usecols = ['UF', 'NOME MUNICÍPIO','NOME BENEFICIÁRIO','ENQUADRAMENTO','VALOR BENEFÍCIO'])
aux_resumo.head()

,UF,NOME MUNICÍPIO,NOME BENEFICIÁRIO,ENQUADRAMENTO,VALOR BENEFÍCIO
0,NaN,NaN,ALICE CILENE DE OLIVEIRA DIAS,EXTRA CADUN,"600,00"
1,NaN,NaN,APARICIO LINHARES LOUZADA,EXTRA CADUN,"600,00"
2,NaN,NaN,CELIA APARECIDA DE SOUZA,EXTRA CADUN,"600,00"
3,NaN,NaN,CERES MARLIZE WAVRITA,EXTRA CADUN,"600,00"
4,NaN,NaN,CLEODON BORGES DA SILVA,EXTRA CADUN,"600,00"

In [6]:
# Contando os registros por UF
aux_resumo['UF'].value_counts()

BA    4793088
AM    1180158
AL    1004292
CE     519466
AC     256923
AP     246046
Name: UF, dtype: int64